@use '../shared-style' as ss;

.DessertPage {
    padding: 5px;
    background-color: ss.$main-color-1;
    .DessertPage_Header {
        margin-top: 8px;
        border-radius: 5px;
        background-color: ss.$white-color-3;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 160%;
        font-family: 'Merriweather Sans', sans-serif;
    }
}
