.DrinkPage {
    background-color:rgb(129, 103, 69);
    padding: 5px;
    .DrinkPage_Header {
        border-radius: 5px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 200%;
        font-family: 'Great Vibes', cursive;
    }
    .DrinkPage_Content {
        display: flex;
        justify-content: center;
    }
    .DrinkPage_Table {
        min-width: 200px;
        //border-radius: 5px;
        background-color: rgb(185, 136, 95);
        tr {
            border: 1px solid rgb(212, 195, 195);
            td {
                padding: 7px
            }
        }
        margin: 10px;
        width: 250px
    }
    .DrinkPage_Pix {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .DrinkPage_Input {
        width: 30px;
        height: 25px;
    }
}
