@use '../shared-style' as ss;

.DrinkPage {
    padding: 5px;
    background-color:ss.$main-color-1;
    .DrinkPage_Header {
        margin-top: 8px;
        border-radius: 5px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 160%;
        font-family: 'Merriweather Sans', sans-serif;
    }
    .DrinkPage_Content {
        display: flex;
        justify-content: center;
    }
    .DrinkPage_Pix {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
