.HomePage {
    padding: 5px;
    background-color: rgb(129, 103, 69);
    .HomePage_Header {
        border-radius: 5px;
        color: rgb(226, 226, 226);
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 200%;
        font-family: 'Hind Madurai', sans-serif;
    }
    .HomePage_Band {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
}
