@use '../shared-style' as ss;

.HomePage {
    padding: 5px;
    background-color: ss.$main-color-1;
    .HomePage_Header {
        border-radius: 5px;
        color: ss.$white-color-2;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 200%;
        font-family: 'Hind Madurai', sans-serif;
    }
    .HomePage_Band_Header {
        color: ss.$white-color-2;
        font-size: 200%;
        display: flex;
        justify-content: center;
    }
    .HomePage_Band {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 600px) {
         // If the screen size is 600px wide or less, change the font size.
        .HomePage_Band_Header {
            font-size: 30px;
        }
    } 
}
