.OrderHistoryPage {
    background-color: rgb(129, 103, 69);
    padding: 5px;

    .OrderHistoryPage_Header {
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 5px;
        font-size: x-large;
        margin-bottom: 5px;
    }
    .OrderHistoryPage_Content {
        padding: 5px;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 5px;
    }
}
