.SalesPage {
    background-color: rgb(174, 220, 174);
    padding: 5px;

    .SalesPage_Header {
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 5px;
        font-size: x-large;
    }
}
