* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

.App {
  .App_header {
    background: burlywood;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .App_Hamburger {
    cursor: pointer;
    width: 40px;
  }
}

input {
  padding: 3px;
}