* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

.App {


}

input {
  padding: 3px;
}

// Hide scrollbars
::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

a:visited {
  color: black;
}
a:link {
  color: black;
}
a:hover {
  color: rgb(77, 77, 77);
}
a:active {
  color: black;
}