* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: large;
}

.App_Title {
  width: 340px;
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  margin-bottom: -25px;
}

input {
  padding: 3px;
}

// Hide scrollbars
::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

a:visited {
  color: black;
}
a:link {
  color: black;
}
a:hover {
  color: rgb(77, 77, 77);
}
a:active {
  color: black;
}