.DrinkTableRow {
    // Disable user select.
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    .DrinkTableRow_Button {
        width: 55px;
        height: 45px;
        border: none;
        margin-left: 5px;
        border-radius: 2px;
        color: rgb(213, 213, 213);
        background-color: rgba(142, 65, 17, 0.819);
    }
    .DrinkTableRow_OrderAmount {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
}
