.Footer {
    background-color: rgb(18, 0, 0);
    color: rgb(189, 189, 189);
    padding: 15px;
    margin: -5px;
    display: flex;
    justify-content: space-between;
    .Footer_Menu {
        padding-left: 15px;
        display: flex;
        align-items: center;
    }
    .Footer_Center {
        padding-top: 22px;
    }
    .Footer_Social {
        padding-top: 10px;
        width: 250px;
        .icon {
            margin: 20px
        }
    }
}