.Header {
    background: burlywood;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    .Header_header {
        background: burlywood;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }
    .Header_hamburger {
        cursor: pointer;
        padding-top: 4px;
        width: 40px;
    }
    .Header_logo {
        font-family: 'Dancing Script', cursive;
        font-size: 200%;
    }
    .Header_logo_area {
        display: flex;
    }
    .Header_cart {
        // background-color: blue;
        display: inline-block;
        padding-right: 10px;
    }
    .Header_qty_1 {
        color: white;
        background-color: red;
        position: relative;
        left: -25px;
        top: -3px;
        padding-left: 6px;
        font-size: smaller;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        display: inline-block;
    }
    div > div > img {
        padding-top: 3px;
        margin-left: 5px;
    }
}
