.Header {
    background: burlywood;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    .Header_header {
        background: burlywood;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }
    .Header_Hamburger {
        cursor: pointer;
        margin-left: 5px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 40px;
    }
    .Header_Logo {
        font-family: 'Dancing Script', cursive;
        font-size: 200%;
    }
    .Header_Logo_Area {
        display: flex;
    }
    .Header_Cart {
        // background-color: blue;
        display: inline-block;
        padding-right: 10px;
        cursor: pointer;
    }
    .Header_qty_1 {
        color: white;
        background-color: red;
        position: relative;
        left: -25px;
        top: -3px;
        padding-left: 6px;
        font-size: smaller;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        display: inline-block;
    }
    .Header_qty_2 {
        color: white;
        background-color: red;
        position: relative;
        left: -25px;
        top: -3px;
        padding-left: 2px;
        font-size: smaller;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        display: inline-block;
    }
    div > div > img {
        padding-top: 3px;
        margin-left: 5px;
    }
}
