.OrderSection {
    .OrderSection_Title {
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    .OrderSection_Table {
        width: 345px;
        margin-top: 5px;
        background-color: rgb(255, 255, 255);
        tr {
            border: 1px solid black;
            td {
                align-items: right;
                padding: 5px;
            }
        }
    }
    .OrderSection_Total {
        // Disable user select.
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-right: 10px;
        justify-content: right;
        span {
            margin-left: 5px;
            padding: 3px;
            background-color: white;
        }
    }
}
