.OrderTable {
    // Disable user select.
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    .OrderTable_Table {
        width: 345px;
        margin-top: 5px;
        background-color: rgb(255, 255, 255);
        tr {
            border: 1px solid black;
            td {
                padding: 5px;
            }
        }
    }
}