$main-content-width: 960px;
$red-color: red;
$main-color-1:rgb(129, 103, 69);
$main-color-2: burlywood;
$main-color-3:rgb(220, 190, 148);
$main-color-4: rgb(185, 136, 95);
$main-color-5: rgb(142, 65, 17, 0.819);
$highlight-color: rgb(167, 100, 6);
$white-color-1: white;
$white-color-2: rgb(226, 226, 226);
$white-color-3: whitesmoke;
$gray-color-1: rgb(189, 189, 189);
$dark-color-1: rgb(18, 0, 0);

html {
    background-color: rgb(18, 0, 0);
}

.Center_Content {
    margin: auto; 
    max-width: $main-content-width;
    // border-left: 1px solid black;
    // border-right:1px solid black;
}

.Product_Font {
    font-family: 'Dancing Script', cursive;
}

// Hide scrollbars
::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: red;
}
